<!DOCTYPE html>
<html>
  <head>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
  </head>
  <body>
  <div class="uispark-lazyLoading__wrapper">
    <section>
      <img src="images/Aqualad.jpg" alt=""/>
      <header>Aqualad</header>
      <p>just for test</p>
    </section>
    <section>
      <img src="images/Aquaman.jpg" alt=""/>
      <header>Aquaman</header>
      <p>just for test</p>
    </section>
    <section>
      <img src="images/Batgirl.jpg" alt=""/>
      <header>Batgirl</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Batman.jpg" alt=""/>
      <header>Batman</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/BeastBoy.jpg" alt=""/>
      <header>BeastBoy</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Bumblebee.jpg" alt=""/>
      <header>Bumblebee</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Cyborg.jpg" alt=""/>
      <header>Cyborg</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/GreenLantern.jpg" alt=""/>
      <header>GreenLantern</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Menos.jpg" alt=""/>
      <header>Menos</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Raven.jpg" alt=""/>
      <header>Raven</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Robin.jpg" alt=""/>
      <header>Robin</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Speedy.jpg" alt=""/>
      <header>Speedy</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Starfire.jpg" alt=""/>
      <header>Starfire</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/Superman.jpg" alt=""/>
      <header>Superman</header>
      <p>just for test</p>
    </section>
    <section>
      <img data-src="images/WonderTwins.jpg" alt=""/>
      <header>WonderTwins</header>
      <p>just for test</p>
    </section>
  </div>

    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
