<!DOCTYPE html>
<html>
  <head>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
  </head>
  <body>
      <div class="uispark-wrapper">
        <div class="uispark-layout__header">
          HEADER
          <!-- Here is the Header -->
        </div>
        <div class="uispark-layout__main">
          <div class="uispark-layout__sidebar">
            <button type="button" name="button" class="uispark-layout__sidebar__toggle--js uispark-layout__sidebar__toggle">Hide/Show</button>
            <!-- Here is the sidebar -->
          </div>
          <div class="uispark-layout__content-wrapper">
              <div class="uispark-layout__content">
                  <!-- BEGIN THE CONTENT -->
                  Objectively exploit one-to-one data rather than fully researched ideas. Competently incubate best-of-breed relationships vis-a-vis extensive sources. Enthusiastically parallel task value-added niche markets whereas an expanded array of value. Intrinsicly network wireless processes without real-time core competencies. Credibly actualize team driven resources after future-proof leadership.
                  <!-- /END THE CONTENT -->
              </div>
              <!-- Here is the main content -->
              <div class="uispark-layout__footer">
                <!-- Here is the footer will scroll with the content -->
              </div>
          </div>
        </div>
      </div>
      <script src="script.js" charset="utf-8"></script>
  </body>
</html>
