<!DOCTYPE html>
<html>
  <head>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
  </head>
  <body>
    <div class="uispark-floatBanner__wrapper">
      <header class="uispark-floatBanner__header">header</header>
      <div class="uispark-floatBanner__main">
        <div class="uispark-floatBanner__banner">
          banner
        </div>
        <div class="uispark-floatBanner__content">
          content
        </div>
      </div>
    </div>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
